# Assignment 1: Data Frame

In [1]:
import pandas as pd
import numpy as np

---
## 1. Creating DataFrame

### (a) User-defined DataFrame

In [2]:
# Creating a DataFrame using dictionary
data = {
    'Student_ID': [1, 2, 3, 4, 5],
    'Name': ['Amit', 'Sneha', 'Rahul', 'Pooja', 'Amit'],
    'Marks': [85, 90, None, 78, 85],
    'City': ['Pune', 'Mumbai', 'Pune', 'Nashik', 'Pune']
}

df = pd.DataFrame(data)
print("User Defined DataFrame:")
print(df)

User Defined DataFrame:
   Student_ID   Name  Marks    City
0           1   Amit   85.0    Pune
1           2  Sneha   90.0  Mumbai
2           3  Rahul    NaN    Pune
3           4  Pooja   78.0  Nashik
4           5   Amit   85.0    Pune

### (b) Creating DataFrame using CSV File

**Note:** Ensure `students.csv` file exists in the same directory.

In [3]:
# Reading CSV file
try:
    df_csv = pd.read_csv("students.csv")
    print("DataFrame from CSV file:")
    print(df_csv)
except FileNotFoundError:
    print("Error: students.csv file not found. Please ensure the file exists in the current directory.")

DataFrame from CSV file:
   Student_ID   Name  Marks    City
0           1   Amit   85.0    Pune
1           2  Sneha   90.0  Mumbai
2           3  Rahul    NaN    Pune
3           4  Pooja   78.0  Nashik
4           5   Amit   85.0    Pune
5           6   Ravi   82.0  Mumbai
6           7  Priya   88.0    Pune

---
## 2. Viewing the DataFrame

In [4]:
# Display first 5 rows
print("First 5 rows:")
print(df.head())

First 5 rows:
   Student_ID   Name  Marks    City
0           1   Amit   85.0    Pune
1           2  Sneha   90.0  Mumbai
2           3  Rahul    NaN    Pune
3           4  Pooja   78.0  Nashik
4           5   Amit   85.0    Pune

In [5]:
# Display last 5 rows
print("Last 5 rows:")
print(df.tail())

Last 5 rows:
   Student_ID   Name  Marks    City
0           1   Amit   85.0    Pune
1           2  Sneha   90.0  Mumbai
2           3  Rahul    NaN    Pune
3           4  Pooja   78.0  Nashik
4           5   Amit   85.0    Pune

In [6]:
# DataFrame structure and information
print("DataFrame Information:")
print(df.info())

DataFrame Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Student_ID  5 non-null      int64
 1   Name        5 non-null      object
 2   Marks       4 non-null      float64
 3   City        5 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 292.0+ bytes
None

In [7]:
# Statistical summary
print("Statistical Summary:")
print(df.describe())

Statistical Summary:
       Student_ID      Marks
count    5.000000   4.000000
mean     3.000000  84.500000
std      1.581139   4.932883
min      1.000000  78.000000
25%      2.000000  83.250000
50%      3.000000  85.000000
75%      4.000000  86.250000
max      5.000000  90.000000

In [8]:
# Shape (rows and columns)
print(f"DataFrame Shape: {df.shape}")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

DataFrame Shape: (5, 4)
Rows: 5, Columns: 4

In [9]:
# Column names
print("Column Names:")
print(df.columns.tolist())

Column Names:
['Student_ID', 'Name', 'Marks', 'City']

---
## 3. Data Preprocessing on DataFrame

### (a) Handling Null Values

In [10]:
# Check null values
print("Null Values in DataFrame:")
print(df.isnull())

Null Values in DataFrame:
   Student_ID   Name  Marks   City
0       False  False  False  False
1       False  False  False  False
2       False  False   True  False
3       False  False  False  False
4       False  False  False  False

In [11]:
# Count null values per column
print("\nNull Value Count per Column:")
print(df.isnull().sum())

Null Value Count per Column:
Student_ID    0
Name          0
Marks         1
City          0
dtype: int64

In [12]:
# Fill null values with mean
df['Marks'] = df['Marks'].fillna(df['Marks'].mean())
print("After filling null values:")
print(df)

After filling null values:
   Student_ID   Name  Marks    City
0           1   Amit   85.0    Pune
1           2  Sneha   90.0  Mumbai
2           3  Rahul   84.5    Pune
3           4  Pooja   78.0  Nashik
4           5   Amit   85.0    Pune

### (b) Handling Duplicate Values

In [13]:
# Check for duplicates
print("Duplicate Rows:")
print(df.duplicated())
print(f"\nNumber of duplicate rows: {df.duplicated().sum()}")

Duplicate Rows:
0    False
1    False
2    False
3    False
4    False
dtype: bool

Number of duplicate rows: 0

In [14]:
# Remove duplicates
df = df.drop_duplicates()
print("After removing duplicates:")
print(df)

After removing duplicates:
   Student_ID   Name  Marks    City
0           1   Amit   85.0    Pune
1           2  Sneha   90.0  Mumbai
2           3  Rahul   84.5    Pune
3           4  Pooja   78.0  Nashik
4           5   Amit   85.0    Pune

### (c) Modifying Data in DataFrame

In [15]:
# Modify marks of a specific student
df.loc[df['Name'] == 'Amit', 'Marks'] = 88
print("After modifying Amit's marks:")
print(df)

After modifying Amit's marks:
   Student_ID   Name  Marks    City
0           1   Amit   88.0    Pune
1           2  Sneha   90.0  Mumbai
2           3  Rahul   84.5    Pune
3           4  Pooja   78.0  Nashik
4           5   Amit   88.0    Pune

In [16]:
# Add new column based on condition
df['Result'] = df['Marks'].apply(lambda x: 'Pass' if x >= 40 else 'Fail')
print("\nModified DataFrame with Result column:")
print(df)

Modified DataFrame with Result column:
   Student_ID   Name  Marks    City Result
0           1   Amit   88.0    Pune   Pass
1           2  Sneha   90.0  Mumbai   Pass
2           3  Rahul   84.5    Pune   Pass
3           4  Pooja   78.0  Nashik   Pass
4           5   Amit   88.0    Pune   Pass

---
## 4. Grouping and Aggregating Data

In [17]:
# Group by City and calculate average marks
grouped_data = df.groupby('City')['Marks'].mean()
print("Average Marks City-wise:")
print(grouped_data)

Average Marks City-wise:
City
Mumbai    90.000000
Nashik    78.000000
Pune      86.833333
Name: Marks, dtype: float64

In [18]:
# Multiple aggregation functions
agg_data = df.groupby('City').agg({
    'Marks': ['mean', 'max', 'min', 'count']
})
print("\nAggregated Data (Mean, Max, Min, Count):")
print(agg_data)

Aggregated Data (Mean, Max, Min, Count):
            Marks
             mean   max   min count
City
Mumbai  90.000000  90.0  90.0     1
Nashik  78.000000  78.0  78.0     1
Pune    86.833333  88.0  84.5     3

---
## 5. Merging and Joining DataFrames

### Creating Another DataFrame

In [19]:
# Create department DataFrame
department = {
    'Student_ID': [1, 2, 3, 4],
    'Department': ['CS', 'IT', 'CS', 'ENTC']
}

df_dept = pd.DataFrame(department)
print("Department DataFrame:")
print(df_dept)

Department DataFrame:
   Student_ID Department
0           1         CS
1           2         IT
2           3         CS
3           4       ENTC

### (a) Merging DataFrames

In [20]:
# Reset index if needed (in case it was modified earlier)
df_reset = df.reset_index(drop=True)

# Merge DataFrames on Student_ID
merged_df = pd.merge(df_reset, df_dept, on='Student_ID', how='inner')
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
   Student_ID   Name  Marks    City Result Department
0           1   Amit   88.0    Pune   Pass         CS
1           2  Sneha   90.0  Mumbai   Pass         IT
2           3  Rahul   84.5    Pune   Pass         CS
3           4  Pooja   78.0  Nashik   Pass       ENTC

### (b) Joining DataFrames

In [21]:
# Create copies for joining operation
df_for_join = df_reset.copy()
df_dept_for_join = df_dept.copy()

# Set index for joining
df_for_join = df_for_join.set_index('Student_ID')
df_dept_for_join = df_dept_for_join.set_index('Student_ID')

# Join DataFrames
joined_df = df_for_join.join(df_dept_for_join)
print("Joined DataFrame:")
print(joined_df)

Joined DataFrame:
             Name  Marks    City Result Department
Student_ID
1            Amit   88.0    Pune   Pass         CS
2           Sneha   90.0  Mumbai   Pass         IT
3           Rahul   84.5    Pune   Pass         CS
4           Pooja   78.0  Nashik   Pass       ENTC
5            Amit   88.0    Pune   Pass        NaN